extends layout

block content
  h1= title
  p Welcome to SINGIN #{title}
  form(action="" method="post")
    fieldset
        label(for="user") User :
        input(type="text" id="user" name="user" placeholder="Enter your username")
        label(for="password") User :
        input(type="password" id="password" name="password" placeholder="Enter your password")
        input(type="submit" value="Submit")
